/*
*
*@author: Ricardo Simas 
*@version: 0.1
*/

/* =========================== layout ===========================*/
.titulo{
    margin-bottom: 50px;
}

.no-border{
    border: 0;
}

.center{
    text-align: center;
    padding: 5px
}

#hash{
    margin-top: 40px;
}

#restart{
    margin-top: 40px;
}

/*---------------------------- Tabuleiro ----------------------------*/

.border-bottom-right{
    border-bottom: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9;
}

.div-size{
    width: 100px;
    height: 100px;
}

/*---------------------------- Rodapé ----------------------------*/

footer{
    background: #000;
    height: 80px;
}

/* =========================== Tipografia ===========================*/

.font-footer{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: #b9b9b9;
    padding-left: 500px; 
}